{% extends 'merchandise/temp.html' %}

{% block title %}カート{% endblock %}

{% block content %}
 <ul>
     {% for product in products %}
     <li>
         {{ product.name }}: {{ product.price }}円
         <form method="post" action="{% url 'cart_delete' product.id %}">
             {% csrf_token %}
             <input type="submit" value="削除">
         </form>
     </li>
    {% endfor %}
 <ul>



 合計金額: {{ total_price }}円

 <form action="" method="post">
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="######3" total_price={{total_price}}>
    </script>
  </form>

{% endblock %}
